/* body */
body{
    padding:0;
    margin:0;
    font-size: 1rem;
    font-weight: 400;
    color: #212529;
    text-align: left;
}
/* heading css section */
.section{
    background-image: url(../hero-bg.svg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    font-family: Averta, sans-serif;
    /* height: 100%; */
}
.head-logo{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
    margin-bottom: 4%;
}
.head{
    text-align: center;
    padding: 0.5%;
    margin:0 auto;
    max-width: 50%;
}
.head h2{
    font-size: 32px;
    line-height: 48px;
    text-align: center;
    color: #514949;
    font-weight: 800;
}
.head p {
    font-size: 16px;
    line-height: 24px;
    color: #514949;
    opacity: 0.9;
}
a{
    text-decoration: none;
    color: #E7332B;
}
.btn{
    margin:15% 10%;
}
.red-btn{
    border: 1px solid #E7332B;
    padding: 2% 4.5%;
    background-color: #E7332B;
    color: #fff;
    margin-right: 5%;
}
.transparent-btn{
    border: 1px solid #E7332B;
    padding: 2% 4.5%;
    background-color: transparent;
    color: #E7332B;
    margin-right: 5%;
}
/* body css section */
.content{
    background-color: #fff;
    overflow: hidden; 
    font-family:Georgia, 'Times New Roman', Times, serif;
    
}
.content h3{
    font-size: 14px;
    line-height: 24px;
    color: #E7332B;
    margin-top: 10%;
    margin-bottom: 1%;
    text-align: center;
}
.content p{
    font-size: 24px;
    line-height: 40px;
    text-align: center;
    color: #514949;
    margin-bottom: 5%;
    margin-top: 1%;
}
.card{
    display: flex;
    /* height: 60%; */
    padding: 61px 47px 82px 36px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.cad{
    padding-left: 2%;
    margin-left:2% ;
    background-color: #fffafa;

}
.cad p{
    text-align: left;
    color: #514949;
    line-height: 24px;
    font-size: 130%;
    opacity: 0.9;
}
.cad h3{
    font-size: 120%;
}

/* footer section (3) */
.footer{
    padding: 2%;
}

.flex{
    display: flex;
    justify-content: space-between;
}
.copyright{
    text-align: center !important;
}
.copyright p{
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    color: #514949;
    padding-bottom: 5%;
}
